{% extends 'base.html.twig' %}

{% block body %}
    <div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px;">
        <div style="border: 1px solid black; box-shadow: 5px 10px 8px #888888;  border-radius: 10px; margin: 20px 0px 20px 80px; padding: 20px; width: 300px;">
            <h4 style="font-family: sans-serif;">List details</h4>
            <b>Name: {{ list.name }}</b> </br>
            Created at: {{ list.createdAt|date('d-m-Y/H:i:s') }} </br>
            Number of tasks: {{ tasks|length }}
            <p style="color: red;">Uncompleted tasks: {{ uncompleted|length }}</p>
            {% if tasks|length > 0 %}
                <b>Percentage: {{ percentage }}% </b>
            {% endif %}
        </div>
    </div>
    <div style="border: 1px solid lightskyblue; margin: 20px 0px 20px 80px; width: 800px; border-radius: 10px; box-shadow: 5px 10px 8px lightskyblue;">
        <form  action="{{ path('app_task_showtasks', {listId: list.id}) }}" method="get" style="margin: 50px;">
            <div style="display: inline-block;">
                <label for="orderBy"><b>ORDER BY:</b></label>
                <select  name="orderBy">
                    <option value="name" name="name">Name</option>
                    <option value="status" name="status">Status</option>
                    <option value="priority" name="priority">Priority</option>
                    <option value="deadline" name="deadline">Deadline</option>
                </select>
            </div>
            <div style="display: inline-block; margin: 10px;" >
                <input type="radio" id="asc" name="sort" value="ASC" checked>
                <label for="asc">ASC</label><br>
                <input type="radio" id="desc" name="sort" value="DESC">
                <label for="desc">DESC</label><br>
            </div>
            <input type="submit" name="submit" value="Submit" class="btn btn-primary">

            <label for="search" style="margin-left: 30px;"><b>SEARCH:</b></label>
            <input type="text" placeholder="Search.." name="search">
            <button type="submit" name="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>


    <table class="table table-striped">
        <tr>
            <th>NAME</th>
            <th>STATUS</th>
            <th>PRIORITY</th>
            <th>DEADLINE</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <p><td>{{ task.name }} <a href="{{ path('app_edittask_edittask', {taskId: task.id, listId: list.id}) }}">Edit</a> <a href="{{ path('app_task_deletetask', {taskId: task.id, listId: list.id}) }}">Delete</a></p>
                {% if task.status is same as('Uncompleted') %}
                    <p>You finished this task? Confirm on link -> <a href="{{ path("app_task_changestatus", {taskId: task.id, listId: list.id}) }}">Change status</a></p>
                {% endif %}
                {% set diff = time_diff(task.deadline, time) %}
                {% if 'ago' in diff %}
                    <p style="color: red;">Remaining time: {{ diff }}</p>
                {% else %}
                    <p style="color: green;">Remaining time: {{ diff }}</p>
                {% endif %}
                </td>
                <div>
                    <td>{{ task.status }}</td>
                    <td>{{ task.priority }}</td>
                    <td>{{ task.deadline|date('d-m-Y/H:i:s') }}</td>
                </div>
            </tr>

        {% endfor %}
    </table>
    <a class="btn btn-dark m-1 p-lg-2" href="{{ path('app_task_addtask', {listId: list.id}) }}"  style="margin-right: 5px">Add Task</a>
{% endblock %}