{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div style="display: inline-block">
            <form  action="{{ path('app_dashboard_homepage') }}" method="post" style="margin: 50px;">
                <label for="orderBy"><b>ORDER BY:</b></label>
                <select  name="orderBy">
                    <option value="name1" name="name1">Name(Ascending)</option>
                    <option value="name2" name="name2">Name(Descending)</option>
                    <option value="createdAt1" name="createdAt1">CreatedAt(Ascending)</option>
                    <option value="createdAt2" name="createdAt2">CreatedAt(Descending)</option>
                </select>
                <input type="submit" name="submit" value="Submit" class="btn btn-primary">

                <label for="search" style="margin-left: 30px;"><b>SEARCH:</b></label>
                <input type="text" placeholder="Search.." name="search">
                <button type="submit" name="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        </div>
    </div>
    <h4 class="mt-3">Lists:</h4>
    <table class="table table-striped">
        <tr>
            <th>NAME</th>
            <th>CREATED AT</th>
            <th>NUMBER OF TASKS</th>
        </tr>
        {% for list in todoList %}
            <tr>
                <td>{{ list.name }} <a href="{{ path('app_task_showtasks', {id : list.id}) }}">View details</a> <a href="{{ path('app_dashboard_deletelist', {name: list.name}) }}">Delete</a></td>
                <td>{{ list.createdAt|date('d-m-Y/H:i:s') }}</td>
                <td>{{ list.task.count }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}